h1{
    text-align: center;      /* Centre le contenu à l'intérieur du div */
    padding: 20px;
    background-color:brown; /* Fond blanc */
    border: 1px solid #ccc;    /* Bordure grise */
    border-radius: 8px;        /* Bords arrondis */

}
div[title="length"] {
    text-align: center;      /* Centre le contenu à l'intérieur du div */
    padding: 20px;
    background-color: #ffffff; /* Fond blanc */
}
div[title="upper"]{
    padding : 20px;
    text-align: center;

}
div[title="specialc"]{
    padding : 20px;
    text-align: center;
}
div[title="submit"]{
    text-align: center;      /* Centre le contenu à l'intérieur du div */
    padding: 20px;
    color: blue;
    margin: 10px;
}